*.DS_Store
.vs
**/.vs/
**/z_Notes/
**/z_unUsedReference/
**/bin/
**/Release/
**/Debug/
**/obj/
**/publish/
/DeleteTempFiles.bat
/Src/CLIWrapper/CLIWrapper.vcxproj.user
/Src/FlyContextMenuHelper/FlyContextMenuHelper.vcxproj.user
/Src/FlyPhotos/FlyPhotos.csproj.user
/Src/FlyPhotos/Properties/PublishProfiles/win-x64.pubxml.user
/Src/FlyPhotos/Properties/PublishProfiles/win-x86.pubxml.user
/Src/FlyPhotos/RYFTools.pfx
/Src/WicImageFileReaderNative/WicImageFileReaderNative.vcxproj.user
