<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FlyPhotos.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="FlyPhotos.Properties.FlyPhotos"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<FlyPhotos.Properties.UserSettings>
   <setting name="Theme" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="WindowBackGroundType" serializeAs="String">
    <value>Transparent</value>
   </setting>
   <setting name="ResetPanZoomOnNextPhoto" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CacheSizeOneSideHqImages" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CacheSizeOneSidePreviews" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="ShowThumbnails" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoFade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FadeIntensity" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="OpenExitZoom" serializeAs="String">
    <value>False</value>
   </setting>
  </FlyPhotos.Properties.UserSettings>
  <FlyPhotos.Properties.FlyPhotos>
			<setting name="WindowBackground" serializeAs="String">
				<value>Transparent</value>
			</setting>
		</FlyPhotos.Properties.FlyPhotos>
	</userSettings>
</configuration>