<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File" fileName="${gdc:item=LogPath}/FlyPhotos.log"
		        archiveNumbering="DateAndSequence" archiveAboveSize="5000000"
		        layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}|${level}|${callsite}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,file" />
	</rules>
</nlog>