<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="RYFTools.FlyPhotos"
    Publisher="CN=44A50C10-C1BE-4575-B17F-07954C8C2229"
    Version="2.5.16.0" />

  <mp:PhoneIdentity PhoneProductId="e339cc4b-62cb-4c55-8824-4d81b3d4c0b6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FlyPhotos</DisplayName>
    <PublisherDisplayName>RYF Tools</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

<Resources>
  <Resource Language="en-US"/>
  <Resource Language="de-DE"/>
  <Resource Language="fr-FR"/>
  <Resource Language="es-ES"/>
  <Resource Language="ja-JP"/>
  <Resource Language="ko-KR"/>
  <Resource Language="it-IT"/>
  <Resource Language="pl-PL"/>
  <Resource Language="nl-NL"/>
  <Resource Language="sv-SE"/>
  <Resource Language="fi-FI"/>
  <Resource Language="ml-IN"/>
</Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="FlyPhotos"
        Description="FlyPhotos is a blazing fast ultra-light photo viewer for Windows. Works similar to Picasa Photo Viewer."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>
	  <uap:Extension Category="windows.fileTypeAssociation">
		<uap:FileTypeAssociation Name="flyphotos-images">
		  <!-- Display Name and Logo are shown in the Open With menu -->
		  <uap:DisplayName>FlyPhotos</uap:DisplayName>
		  <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
		  <uap:InfoTip>Open with FlyPhotos app</uap:InfoTip>
		  <!-- Add all the file types you want to support -->
		<uap:SupportedFileTypes>
        
			<!-- Standard Image Formats -->
			<uap:FileType>.bmp</uap:FileType>
			<uap:FileType>.dib</uap:FileType>
			<uap:FileType>.rle</uap:FileType>
			<uap:FileType>.gif</uap:FileType>
			<uap:FileType>.ico</uap:FileType>
			<uap:FileType>.icon</uap:FileType>
			<uap:FileType>.cur</uap:FileType>
			<uap:FileType>.jpeg</uap:FileType>
			<uap:FileType>.jpe</uap:FileType>
			<uap:FileType>.jpg</uap:FileType>
			<uap:FileType>.jfif</uap:FileType>
			<uap:FileType>.exif</uap:FileType>
			<uap:FileType>.png</uap:FileType>
			<uap:FileType>.tiff</uap:FileType>
			<uap:FileType>.tif</uap:FileType>
			
			<!-- Modern and Other Formats -->
			<uap:FileType>.wdp</uap:FileType>
			<uap:FileType>.jxr</uap:FileType>
			<uap:FileType>.dds</uap:FileType>
			<uap:FileType>.heic</uap:FileType>
			<uap:FileType>.heif</uap:FileType>
			<uap:FileType>.hif</uap:FileType>
			<uap:FileType>.avci</uap:FileType>
			<uap:FileType>.heics</uap:FileType>
			<uap:FileType>.heifs</uap:FileType>
			<uap:FileType>.avcs</uap:FileType>
			<uap:FileType>.avif</uap:FileType>
			<uap:FileType>.avifs</uap:FileType>
			<uap:FileType>.webp</uap:FileType>
			<uap:FileType>.jxl</uap:FileType>

			<!-- Microsoft Raw Image Formats -->
			<uap:FileType>.3fr</uap:FileType>
			<uap:FileType>.ari</uap:FileType>
			<uap:FileType>.arw</uap:FileType>
			<uap:FileType>.bay</uap:FileType>
			<uap:FileType>.cap</uap:FileType>
			<uap:FileType>.cr2</uap:FileType>
			<uap:FileType>.cr3</uap:FileType>
			<uap:FileType>.crw</uap:FileType>
			<uap:FileType>.dcs</uap:FileType>
			<uap:FileType>.dcr</uap:FileType>
			<uap:FileType>.drf</uap:FileType>
			<uap:FileType>.eip</uap:FileType>
			<uap:FileType>.erf</uap:FileType>
			<uap:FileType>.fff</uap:FileType>
			<uap:FileType>.iiq</uap:FileType>
			<uap:FileType>.k25</uap:FileType>
			<uap:FileType>.kdc</uap:FileType>
			<uap:FileType>.mef</uap:FileType>
			<uap:FileType>.mos</uap:FileType>
			<uap:FileType>.mrw</uap:FileType>
			<uap:FileType>.nef</uap:FileType>
			<uap:FileType>.nrw</uap:FileType>
			<uap:FileType>.orf</uap:FileType>
			<uap:FileType>.ori</uap:FileType>
			<uap:FileType>.pef</uap:FileType>
			<uap:FileType>.ptx</uap:FileType>
			<uap:FileType>.pxn</uap:FileType>
			<uap:FileType>.raf</uap:FileType>
			<uap:FileType>.raw</uap:FileType>
			<uap:FileType>.rw2</uap:FileType>
			<uap:FileType>.rwl</uap:FileType>
			<uap:FileType>.sr2</uap:FileType>
			<uap:FileType>.srf</uap:FileType>
			<uap:FileType>.srw</uap:FileType>
			<uap:FileType>.x3f</uap:FileType>
			<uap:FileType>.dng</uap:FileType>
			
			<!-- Supports implemented by Fly -->
			<uap:FileType>.psd</uap:FileType>
			<uap:FileType>.svg</uap:FileType>

		</uap:SupportedFileTypes>	
		</uap:FileTypeAssociation>
	  </uap:Extension>
</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
