<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="390b4158-350f-4215-9419-541715ee51b0"
    Publisher="CN=Riyas"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="390b4158-350f-4215-9419-541715ee51b0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FlyPhotos</DisplayName>
    <PublisherDisplayName>Riyas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="FlyPhotos"
        Description="FlyPhotos"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>
	  <uap:Extension Category="windows.fileTypeAssociation">
		<uap:FileTypeAssociation Name="myimageviewer-images">
		  <!-- Display Name and Logo are shown in the Open With menu -->
		  <uap:DisplayName>FlyPhotos</uap:DisplayName>
		  <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
		  <!-- Add all the file types you want to support -->
		  <uap:SupportedFileTypes>
			<uap:FileType>.png</uap:FileType>
			<uap:FileType>.jpg</uap:FileType>
			<uap:FileType>.jpeg</uap:FileType>
			<uap:FileType>.gif</uap:FileType>
			<uap:FileType>.bmp</uap:FileType>
			<uap:FileType>.tif</uap:FileType>
			<uap:FileType>.tiff</uap:FileType>
			<uap:FileType>.ico</uap:FileType>
			<uap:FileType>.nef</uap:FileType>
			<uap:FileType>.arw</uap:FileType>
			<uap:FileType>.cr2</uap:FileType>
		  </uap:SupportedFileTypes>
		</uap:FileTypeAssociation>
	  </uap:Extension>
</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
